
    <h1>This will be a list of posts</h1>

    <ul>
        <% @posts.each do |p| %>
            <li>
                <h3><%= p.title %></h3>
                <p><%= p.body %></p>
            </li>
        <% end %>
    </ul>
